:root {
  --color-square: #FAFAFA;
  --color-separation-line: #FAFAFA;
  --color-bg-body: #222;
  --color-bg-header: #FAFAFA;
  --color-ft-header: #FAFAFA;
  --color-bg-main: #FAFAFA;
  --color-ft-main: #FAFAFA;
  --color-section-h2: #FAFAFA;
  --color-bg-footer: #FAFAFA;
  --color-ft-footer: #FAFAFA;
}

body {
  background-color: var(--color-bg-body);
  font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 1.6rem);
  border: .8rem solid var(--color-square);
}
header div.welcome-message{
  position: fixed;
  z-index: -1;
}
header h1 {
  padding: 0 1rem;
  text-align: center;
  font-family: 'Zen Antique', serif;
  font-size: 1.618rem;
  font-weight: bolder;
  color: #FAFAFA;
  text-transform: uppercase;
}

header p {
  color: #FAFAFA;
  text-align: center;
  padding: 2.103rem;
  font-size: .8rem;
}

/* NAV */
/* MENU BTN */

header button.menu.btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: .809rem;
  padding: .809rem;
  font-size: 1.2rem;
  z-index: 2;
  color: #FAFAFA;
  background: 0;
  border: 0;
  border-radius: 9.7%;
  cursor: pointer;
  transition: .8s;
}

header button.menu.btn.discover,
header button.menu.btn.black {
  color: #222;
}


/* NAV */

header nav,
header nav.discover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 1;
}

header nav ul,
header nav.discover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header nav ul li,
header nav.discover ul li {
  font-size: 1.618rem;
  padding: .8rem;
}

header nav p {
  font-size: .8rem;
  color: #222;
  z-index: 1;

}

header nav {
  right: 200vw;
  transition: .8s;
}

header nav ul li a {
  color: #222;
}

/* SECTIONS */
main section {
  height: calc(100vh - 1.618rem * 2);
  padding: 1.618rem;
  background-color: #fafafa;
}

main section h2 {
  font-size: 2.427rem;
  font-weight: bolder;
}

main section p {
  font-size: 1.618rem;
  padding: 1.941rem 0;
}

main section ul li h3 {
  width: 100%;
  font-size: 1.618rem;
}

/* VOS BESOINS */

main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main section:nth-child(1) ul li {
  line-height: 1.618rem;
  font-size: 1.618rem;
}

main section:nth-child(1) ul li:nth-child(2n) {
  text-align: right;
}

main section:nth-child(1) p {
  padding: 1.618rem 0;
  font-size: 1.618rem;
  text-align: center;
  line-height: 1.941rem;
}

/* NOS COMPÉTENCES */
main section:nth-child(2)>ul>li:nth-child(2n) {
  text-align: right;
  padding: 1.618rem 0;
}

/* NOTRE ÉQUIPE */
main section:nth-child(3)>ul>li:nth-child(2n) {
  text-align: right;
}

main section:nth-child(3) ul li p {
  padding: .8rem 0 1.941rem;
  font-size: .8rem;
}

/* NOUS AVONS DÉJÀ FAIT DES HEUREUX */

main section:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main section:nth-child(4) ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

main section:nth-child(4) ul li {
  width: 4.852rem;
  height: 4.852rem;
  margin: .8rem;
  border-radius: .2px;
}

main section:nth-child(4) ul li:nth-child(1) {
  filter: invert();
}

main section:nth-child(4) ul li:last-child {
  border: #222 dashed .2rem;
}

main section:nth-child(4) ul li img {
  width: 4.852rem;
  height: 4.852rem;
}

/* FOOTER */
footer {
  min-height: calc(100vh - 1.618rem * 2);
  padding: 1.618rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-ft-footer);
  background-color: #222;
}

footer section {
  padding: 1.618rem 0;
}

footer section h2 {
  font-size: 1.618rem;
  padding: .8rem 0;
}

footer section form {
  display: flex;
  flex-direction: column;
}

footer section form label {
  padding: 1.618rem 0 .8rem;
}

footer section form input {
  caret-color: #fafafa;
  padding: 0 .4rem .4rem;
  background: 0;
  border: 0;
  border-bottom: #FAFAFA .1rem solid;
  color: #FAFAFA;
}

footer section form textarea {
  padding: .809rem;
}


footer p {
  text-align: center;
}

/* BTN */

footer section form input[type="submit"] {
  display: block;
  width: 6.472rem;
  padding: .809rem 0;
  margin: 1.618rem 0;
  color: #FAFAFA;
  border: 0.129rem solid #FAFAFA;
  border-radius: 2.265px;
  text-align: center;
  font-size: .970rem;

}

footer section form input[type="submit"]:hover,
footer section form input[type="submit"]:active {
  background-color: #4cd137;
  color: rgba(34, 34, 34, 0.970);
  border: #4cd137 0.129rem solid;
  box-shadow: 0 0 0.05rem #4cd137, 0 0 0.25rem #4cd137,
    0 0 0.5rem #4cd137, 0 0 1rem #4cd137;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 770px) {
  /* 
  header h1 {
    font-size: 4rem;
    padding: 4rem 4rem 0;
  }

  header nav {
    display: block;
    top: 25vh;
    font-weight: bolder;
    color: #FAFAFA;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 8rem 0;
  }

  header nav ul li {
    padding: 2rem;
    text-align: center;

  }

  header nav ul li a {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
    font-size: 2.4rem;
    font-weight: 300;
    text-decoration: 0;
  } */

}
